---

---

<div class="hero bg-gradient-to-br from-amber-100 to-orange-300">
  <div class="hero-content text-center py-32">
    <div class="max-w-2xl">
      <h1 class="text-8xl font-bold tracking-tight text-gray-900 mb-16">
        Jumpstart Your Next Project
      </h1>

      <a href="#" class="btn btn-primary btn-md px-16">Start</a>
    </div>
  </div>
</div>
