---

---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-secondary">
            Rapid development
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Streamline your workflow
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            The HAXS Stack accelerates your development process by combining
            HTMX, Astro, and Supabase for full-stack efficiency. Enjoy fast
            prototyping and deployment with integrated backend services.
          </p>
          <dl
            class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none"
          >
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <svg
                  class="absolute left-1 top-1 h-6 w-6 text-secondary"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="m14.92 8.797l-.624 1.86a4.75 4.75 0 0 1-3.029 3.03l-1.882.626a.316.316 0 0 0 0 .601l1.882.626a4.744 4.744 0 0 1 3.005 3.007l.625 1.883a.317.317 0 0 0 .6 0l.649-1.86a4.749 4.749 0 0 1 3.005-3.007l1.881-.625a.316.316 0 0 0 0-.601l-1.858-.65a4.744 4.744 0 0 1-3.028-3.03l-.625-1.884a.317.317 0 0 0-.6.024M6.859 3.516l-.446 1.329A3.392 3.392 0 0 1 4.25 7.01l-1.345.446a.226.226 0 0 0 0 .43l1.345.447a3.388 3.388 0 0 1 2.146 2.148l.446 1.345a.226.226 0 0 0 .43 0l.462-1.328A3.392 3.392 0 0 1 9.88 8.35l1.345-.447a.226.226 0 0 0 0-.43L9.897 7.01a3.388 3.388 0 0 1-2.163-2.165l-.446-1.346a.226.226 0 0 0-.43.017"
                  ></path>
                </svg>
                Simplified interaction.
              </dt>
              <dd class="inline">
                HTMX allows you to enhance your web pages with dynamic content
                updates without the need for complex JavaScript, making your
                applications light and responsive.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <svg
                  class="absolute left-1 top-1 h-6 w-6 text-secondary"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <g
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                  >
                    <path
                      d="M4.159 9.134c-.637 0-1.152.516-1.152 1.152v3.456c0 .636.515 1.152 1.152 1.152h15.678c.636 0 1.152-.515 1.152-1.152v-3.456c0-.636-.516-1.152-1.152-1.152m-2.293 2.88h-3.018"
                    ></path>
                    <path
                      d="m3.004 4.554l.01 3.456c.002.636.52 1.15 1.156 1.149l15.678-.05a1.152 1.152 0 0 0 1.148-1.155l-.01-3.456A1.152 1.152 0 0 0 19.83 3.35l-15.678.049c-.636.002-1.15.52-1.148 1.155m14.54 1.689h-3.018M4.159 14.894c-.637 0-1.152.516-1.152 1.152v3.456c0 .636.515 1.152 1.152 1.152h15.678c.636 0 1.152-.516 1.152-1.152v-3.456c0-.636-.516-1.152-1.152-1.152m-2.293 2.88h-3.018"
                    ></path>
                  </g>
                </svg>
                Integrated backend services.
              </dt>
              <dd class="inline">
                Supabase provides a powerful, instant backend for your
                applications including databases, authentication, and real-time
                subscriptions.
              </dd>
            </div>
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <svg
                  class="absolute left-1 top-1 h-6 w-6 text-secondary"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill="currentColor"
                    d="M21.818 3.55a2.593 2.593 0 0 0-1.394-1.37A2.534 2.534 0 0 0 19.49 2h-.08a7.801 7.801 0 0 0-3.158.68c-.624.268-1.2.636-1.705 1.09l-.27.28l-.07.06l-4.774 4.768l-2.005-.41a3.48 3.48 0 0 0-1.695.09a3.672 3.672 0 0 0-1.454.87l-1.875 1.869a1.289 1.289 0 0 0-.37.66c-.062.253-.04.519.06.76c.099.238.266.443.48.589c.213.144.465.221.723.22h2.476a3.99 3.99 0 0 0 .612 3.049l-1.845 1.83a.749.749 0 0 0 .532 1.279a.734.734 0 0 0 .53-.22l1.846-1.83a3.94 3.94 0 0 0 2.266.7c.266 0 .531-.027.792-.08v2.44a1.316 1.316 0 0 0 .792 1.199c.162.069.336.102.512.1c.08.01.16.01.24 0a1.36 1.36 0 0 0 .672-.35l1.895-1.9c.412-.4.712-.899.873-1.449a3.448 3.448 0 0 0 .08-1.69l-.401-1.999l4.733-4.718l.21-.2l.21-.21a6.216 6.216 0 0 0 1.003-1.7a7.588 7.588 0 0 0 .672-3.188a2.523 2.523 0 0 0-.18-1.04M7.9 16.094a3.048 3.048 0 0 1-.461-.61l4.01-3.998a.753.753 0 0 1 1.284.53c0 .198-.08.389-.22.53l-4.011 3.998a2.435 2.435 0 0 1-.602-.45M20.514 4.539a6.28 6.28 0 0 1-.541 2.59a4.552 4.552 0 0 1-.652 1.089a16.662 16.662 0 0 1-3.56-3.509c.336-.27.707-.492 1.103-.66a6.234 6.234 0 0 1 2.567-.55c.137.007.272.034.401.08c.128.05.244.125.341.22c.1.092.179.205.23.33c.052.127.08.263.081.4z"
                  ></path>
                </svg>
                Scalable simplicity.
              </dt>
              <dd class="inline">
                The HAXS Stack is engineered for simplicity but built for
                expansion. Seamlessly incorporate advanced features and
                frameworks like React as your project grows.
              </dd>
            </div>
          </dl>
        </div>
      </div>
      <img
        src="https://tailwindui.com/img/component-images/dark-project-app-screenshot.png"
        alt="Product screenshot"
        class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
        width="2432"
        height="1442"
      />
    </div>
  </div>
</div>
