<h1>Hello, world!</h1>
<p>Welcome to your new HAXS Stack site.</p>
<button
  class="btn btn-primary"
  hx-get="/api/list"
  hx-trigger="click"
  hx-target="#products"
  hx-swap="innerHTML">Load List</button
>

<ul id="products"></ul>
