---
import Head from "@components/common/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="bumblebee">
  <Head title={title} description={description} />
  <body>
    <slot />
  </body>
</html>
